<div class="title">
  <h3>WELCOME TO YOUR</h3>
  <h3>TRICK OR TRADER LIST</h3>
</div>  

<form action="/list" method="POST">
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control " id="list" placeholder="Add new list" name="listName"required>
      </div>
      <div class="col-sm-2">
        <input type="submit" class="btn inline btn-primary">
      </div>  
    </div>  
</form>

<% names.forEach(function(name) { %>
  <div class="container-fluid">
    <div class="row well">
        <div class="col-sm-1">
          <a href="/list" deleteUrl="/list/<%=name.id%>" class="btn btn-danger glyphicon glyphicon-trash delete-btn button"></a>
        </div>
        <div class="col-sm-11">
          <a href="/list/<%=name.id%>"><%= name.listName %></a>
        </div>
    </div>
  </div>
<% }); %>
  
  
      
  <div>

  </div>    
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
       integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
       crossorigin="anonymous"></script>
      <script>
        $('.delete-btn').on('click', function(e){
         // e.preventDefault();
         var deleteUrl =$(this).attr('deleteUrl');
          $.ajax({
            method: 'DELETE',
            url: deleteUrl
          });
        });
      </script>
      
      
<style>
  body{
    background: black;
  }
  h3 {
    color: white;
    font-family: 'Permanent Marker';
  }
  .well {
    background-color: grey;
    margin: 0px;
  }
  
  #list, .btn-primary {
    margin-top: 32px;
  }
  a {
    font-size: 24px;
    font-family: 'Permanent Marker';
    color: red;
  }
  
  .title{
    background-image: url('/img/blood.jpg');
    text-align: center;
  }
  .btn{
    background-color: #ff5c00;
    color: white;
    width:100%;
    max-width: 250px;
    border: 0px;
  }
  .glyphicon {
    background-color: grey;
  }
  
</style>