<h1 class="title">TRICK OR TRADER</h1>

<h3>Ready to trick or treat?</h3>
<form action="/auth/login" method="POST">
    <div class="form-group">
      <input id="authEmail" class="form-control" type="email" placeholder="Email"name="email">
    </div>
  
    <div class="form-group">
      <input id="authPassword" class="form-control" type="password" value="Password"name="password">
    </div>
  
    <a href="/list" class="btn btn-primary orange" type="Submit" name="Login">Submit</a>
  </form>

  
<a class="autho" href="/auth/signup">Signup</a>
<!-- <a class="autho" href="/auth/login">Login</a>
<a class="autho" href="/auth/logout">Logout</a> --> -->


<style>
    body{
        text-align: center;
        background-color: black;
    }
    h1 {
        font-family: 'Nosifer', cursive;
        color: #FF5C00;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    h3 {
        color: #FF5C00;
        font-family: 'Permanent Marker', cursive;
    }
    .autho {
        font-size: 20px;
        font-weight: bold;
        color: #FF5C00;
    }
    input {
        border: 0px solid black;
    }
    div{
     max-width: 250px;
    }
    .orange {
        background: #FF5C00;
        color: white;
        width:100%;
        max-width: 250px;
        border: 0px;
        margin-top: 32px;
    }
    form {
        margin-bottom: 40px;
    }
</style>